body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2c3e50
}
#sidebar {
    position: absolute;
    width: 200px;
    height: 100%;
    background-color: #2c3e50;
    left: -200px;
    transition: 500ms all linear;
}
#sidebar.active {
    left:0px;
}
#sidebar ul li  {
    color:rgba(230,230,230,0.9);
    list-style:none;
    padding:15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
    #sidebar a {
        border-bottom: 1px solid rgba(100,100,100,0.3);
        padding: 15px 10px;
        color: red;
        list-style: none;
        font-display:block;
    }
#sidebar .toggle-btn {
    position:absolute;
    left:230px;
    top:20px;

}
#sidebar .toggle-btn span {
        display: block;
        width: 30px;
        height: 5px;
        background-color: #2c3e50;
        margin: 5px 0px;

}
.container{
    margin:0px;
    padding:0px;
}
